/* GameContent.css */

.GameContent {
  align-items: center;
  color: aliceblue;
}

.GameInfo {
  display: flex;
  align-items: center;
}

.Info {
  flex-grow: 1;
}

.Shot img {
  max-width: 100%;
}

.Post {
  flex-shrink: 0;
  max-width: 400px; 
  margin-left: 20px; 
}

.post ul{
  list-style: none;
}

.feedback-item {
  border-radius: 10px;
  border: 3px solid #ddd; /* Adjust border styles as needed */
  margin-bottom: 10px; /* Adjust spacing between feedback items as needed */
  padding: 10px;
}
