.user-avatar-container {
  padding-left: 10px;
  display: flex;
  align-items: center; 
}

.avt {
  cursor: pointer;
  margin-left: 10px; 
  transition: background-color 0.3s; 
}

.avt:hover {
  background-color: aliceblue; 
  color: black;
}

.popup ul{
  list-style: none;
}

.popup ul li{
  cursor: pointer;
}

.popup{
  height: 100%;
  background-color: aliceblue;
  color: black;
  padding-left: 10px;
  padding-right : 10px;
  margin-left: 10px;
  border: 2px black solid;
  border-radius: 10px;
}
