/* searchBar.css */

.SearchBar {
    position: relative;
    width: 100%;
  }
  
  .Input {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
  }
  
  .Input input {
    width: 300px;
    flex: 1;
    padding: 8px;
    border: none;
    outline: none;
    background-color: #000;
    color: white;
  }
  
  .Input input::placeholder {
    color: #ccc;
  }

  .Input FaRegTimesCircle{
    padding-right: 10px;
    cursor: pointer;
  }
  
  .res {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
  }
  
  .res ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .res li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
  }
  
  .res li:last-child {
    border-bottom: none;
  }
  
  .res li:hover {
    background-color: #f5f5f5;
  }
  
  