/* Header.css */

#header {
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  padding-right: 300px;
  display: flex;
  align-items: center;
}

.nav i {
  cursor: pointer;
  font-size: 24px;
  margin-right: 10px;
}

.nav h4 {
  margin: 0;
  margin-right: 20px;
  font-size: 18px;
}

.search {
  flex: 1;
}

.useraction {
  display: flex;
  align-items: center;
}

/* Add more styles if needed */
