/* GameList.css */

.GameList {
    color: aliceblue;
    margin: 20px;
  }
  
  .GameList ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .GameList ul li {
    border: 1px solid #ccc;
    margin: 0 10px 10px 0;
    padding: 10px;
    flex: 0 0 calc(33.333% - 20px); /* Adjust the width based on your layout needs */
  }
  
  button {
    background-color: #3498db;
    color: #fff;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  