.post {
    color:aliceblue;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;

  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical;
  }
  
  button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  